* {
  padding: 0;
  margin: 0;
}

html {
  font-size: $font-size;
  font-family: $font-regular, Arial, sans-serif;
  background-color: color(snow);
  color: color(dark);
  line-height: 1.5;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: $h1-fontsize;
  line-height: 110%;
  margin: ($h1-fontsize / 4) 0;
}

h2 {
  font-size: $h2-fontsize;
  line-height: 110%;
  margin: ($h2-fontsize / 3.5) 0;
}

h3 {
  font-size: $h3-fontsize;
  line-height: 110%;
  margin: ($h3-fontsize / 3) 0;
}

h4 {
  font-size: $h4-fontsize;
  line-height: 110%;
  margin: ($h4-fontsize / 2.8) 0;
}

h5 {
  font-size: $h5-fontsize;
  line-height: 110%;
  margin: ($h5-fontsize / 2.8) 0;
}

h6 {
  font-size: $h6-fontsize;
  line-height: 110%;
  margin: ($h6-fontsize / 2.8) 0;
}

ul {
  list-style: none;
}

button {
  &:focus {
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}
