@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }

  @warn "Unknown `#{$color}` in $colors.";
  @return null;
}

@mixin toolbar($pos, $val) {
  display: flex;
  align-items: center;
  background-color: color(white);
  border-bottom: solid 1px lighten(color(gray), 50%);
  position: fixed;
  #{$pos}: #{$val};
  left: 0;
  z-index: $z-index-toolbar;
  justify-content: center;
}
